<footer>
   
    <div class="container-fluid text-center footerright">
      All Rights Reserved From @RiddhiSiddhiTravelAgency
    </div>
    <div class="container-fluid text-center footerright">
      Design and Developed By akshWebTech.Pvt.Ltd.
    </div>
    <div class="whatsapplogo">
      <span class="spancl">Chat With Us.</span>
      <a href='https://wa.me/7021888631' ><img class="whatsapp" src="./images/whatsapp-logo-PNG-Transparent.png" alt="" srcset="" ></a>
    </div>
  </footer>