 <nav class="nav" id="navbar">

    <div class=" my-3 conatiner-fluid logomain d-flex">

       <h1 class="logo">
    
Ridhi Sidhi
<span>Travel Agency</span>
</h1>

<div class="navcontact d-flex">
  <div class="cont"><a href="tel:8121490873"><i class="fa-solid fa-phone"></i>8121490873</a></div>
  <div class=" navicons d-flex">
    <div class="fb navicon"><i class="fa-brands fa-facebook-f"></i></div>
    <div class="whatsapp navicon"><a href="https://wa.me/8121490873"><i class="fa-brands fa-whatsapp"></i></a></div>
    <div class="insta navicon"><i class="fa-brands fa-instagram"></i></div>
  </div>
</div>


      </div>
      <hr class="hrline1">
    

  </nav>
