{{>header}}
{{>navbar}}

<div class="maincont text-center">
  <img src="images/c0fc68134844febd55b9276829de041b.png" alt="" srcset="" class="img-fluid">
  <div class="maintext text-center" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
<h2 class="{{message.class}}  ">{{message.text}}</h2>
   The biggest adventure you can take is to live the life of your dreams..
      <h3>Chase your dreams by travelling with us.</h3>
  </div>
  <img src="./images/4ba72fc27e3714debedd1df158f8780d.png" alt="" srcset="" class="img-fluid trees">

</div>
<div class="secmain">
  <div class="maintext text-center mt2" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
    Find Our Most Popular
    Destinations
  </div>
   <div class="container  topdestination row g-2 my-1 m-auto">
      <div class="img col-lg-4 col-md-4 col-12" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-once="true">
        <h6 class="placeheading" ></h6>
        <img src="./images/Ajmer-1024x436.jpg" alt="" srcset="" class="img-fluid ">
      </div>
      <div class="img col-lg-4 col-md-4 col-12" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-once="true">
        <h6 class="placeheading" ></h6>

        <img src="./images/HD-wallpaper-amber-fort-jaipur-bing-amer-fort-thumbnail.jpg" alt="" srcset="" class="img-fluid ">

      </div>
      <div class="img col-lg-4 col-md-4 col-12" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-once="true">
        <h6 class="placeheading" ></h6>

        <img src="./images/istockphoto-805563154-170667a.webp" alt="" srcset="" class="img-fluid ">

      </div>
      

    {{!-- </div>
    <div class="container d-flex topdestination wor"> --}}
      <div class="img col-lg-4 col-md-4 col-12" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-once="true">
        <h6 class="placeheading" ></h6>
        <img src="./images/shutterstock_1267359385_20190822144436.jpg" alt="" srcset="" class="img-fluid ">
      </div>
      <div class="img col-lg-4 col-md-4 col-12" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-once="true">
        <h6 class="placeheading" ></h6>

        <img src="./images/kedarnath-4k-9pd6c84fjldyenjg.jpg" alt="" srcset="" class="img-fluid ">

      </div>
      <div class="img col-lg-4 col-md-4 col-12" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-once="true">
        <h6 class="placeheading" ></h6>

        <img src="./images/valley-of-flowers-national-park-trek-in-uttarakhand-india-meadow-alpine-flowers-mountains-with-snow-peaks-landscape-hd-desktop-backgrounds-1920×1080-wallpaper-preview.jpg" alt="" srcset="" class="img-fluid ">

      </div>
      

    {{!-- </div> --}}


</div>

</div>

<div class="container-fluid carcont my-5 m-auto">
  <div class="text-center my-5 text-info" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
    <h1>Choose the laxury you want</h1>
  </div>
<div class="row g-2">
  <div class="col-lg-2 col-md-2 col-12">
      <img src="./images/toyota-etios-car-rental-services.jpg" alt="" srcset="" class="img-fluid ">
  </div>
  <div class="col-lg-2 col-md-2 col-12">
      <img src="./images/maruti-suzuki-swift-dzire-tour-tour-diesel.png" alt="" srcset="" class="img-fluid ">
  </div>
  <div class="col-lg-2 col-md-2 col-12">
      <img src="./images/tavera-car.jpg" alt="" srcset="" class="img-fluid ">
  </div>
  <div class="col-lg-2 col-md-2 col-12">
      <img src="./images/mahindra-tuv300-plus-Glacier-White.jpg" alt="" srcset="" class="img-fluid ">
  </div>
  <div class="col-lg-2 col-md-2 col-12">
      <img src="./images/396ijta_1496119.webp" alt="" srcset="" class="img-fluid ">
  </div>
  <div class="col-lg-2 col-md-2 col-12">
      <img src="./images/images.jpg" alt="" srcset="" class="img-fluid ">
  </div>
 
</div>
</div>

<div class="thirdmain"  data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
  <img src="./images/372d68da7ffa9d12ab53a49eec29b113.png" alt="" srcset="" class="img-fluid rmv">

  <div class=" maharaj"  data-aos-once="true" >
  <img src="./images/25567e8e7f1e1c47b4edec714709649b.png" alt="" srcset="" class="img-fluid ">
  </div>
  <div class="hawamahal"  data-aos-once="true" >
  <img src="./images/85edec7116fcedc1367120bf5fd0151d.png" alt="" srcset="" class="img-fluid ">

  </div>

  <div class="shadow">
  <img src="./images/bef3d1096b1d9ae85b9ebba5b1e6d279.png" alt="" srcset="" class="img-fluid ">

  </div>


  <div class="main-i13">
          
            <div class="contact-us-dv">
                <h1>Contact Us </h1>
                <h2>+91-812-149-0873</h2>
            </div>
            <div class="form ">
                <form class="main-form" method="post" action="/message">
                    <h1>Travel & Stay in the <br> most Beautiful places</h1>
                    <p>Fill in the Contact Form and ask questions you <br> are interested in</p>
                    <input type="text" placeholder="Name*" name="name" required autocomplete="off">
                    <input type="email" placeholder="E-mail*" name="email" required autocomplete="off">
                    <textarea name="message" placeholder="Message" cols="30" rows="10"></textarea>

                    <button type="submit" class="btn-yl2"> contact us</button>
                </form>
                <div class="form-text">
                    <div class="form-text-t">
                        <h3>For help booking and Travel</h3>
                        <p>Talk to us on Whatsapp or Email <br> <span>(91)812-149-0873</span> | <span> (91)702-188-8631</span> (Rajasthan) <br> riddhisiddhitravelingagency@gmail.com</p>
                    </div>
                    <div class="form-text-t">
                        <h3>We are available:</h3>
                        <p>All Days 8.00 am - 10.00 pm </p>
                    </div>
                    <div class="form-text-t">
                        <h3>For Any booking enquiries</h3>
                        <p>Use this form for enquiries.</p>
                    </div>
                  
                    
                    <div class="form-text-t">
                        <h3>You can also checkout our social media</h3>
                        <p>Please give us the chance to serve you best</p>
                    </div>
                    <div class="icon">
                        <a href="#"><div class="icons"><i class="fa-brands fa-facebook-f"></i></div></a>
                        <a href="https://wa.me/7021888631"><div class="icons"><i class="fa-brands fa-whatsapp"></i></div></a>
                        <a href="tel:7021888631"><div class="icons"><i class="fa-solid fa-phone"></i></div></a>
                       <a href="mailto:riddhisiddhitravelingagency@gmail.com"><div class="icons"><i class="fa-solid fa-envelope"></i></div></a>
                        

                    </div>
                      <div class="map my-5">
 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7120.585659798591!2d75.754123!3d26.830637!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db512717f7595%3A0xa85a04fa771a275f!2sHyatt%20Regency%20Jaipur%20Mansarovar!5e0!3m2!1sen!2sin!4v1692119220563!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
                </div>
            </div>
        
        </div>

  

</div>





 {{>footer}}

 {{>footersrc}}