{{>header}}
<div class="container w-50 m-auto my-5">
<h3 class="{{message.class}}">{{message.text}}</h3>
    <h1>Login</h1>
 <form action="/riddhisiddhilogin" method="post">   
  
    <div class="form-group">
     <label for="email">Enter Your Email <span class="text-danger">*</span></label>
     <input type="text"
       class="form-control" name="email" id="email">
   </div>
  
   <div class="form-group">
     <label for="password">Enter Password<span class="text-danger">*</span></label>
     <input type="password"
       class="form-control" name="password" id="password">
   </div>
 
   <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{{>footersrc}}